Repository jerrylee17/casino, pull requests merged in 2020-04, with the labels that each got.

#14 Implemented the backend and frontend for landing page
  README.md
  package-lock.json
  package.json
  public/index.html
  server.js
  src/Components/Auth/LoginModal.js
  src/Components/Auth/RegisterModal.js
  src/Components/Auth/login.css
  src/Components/Auth/register.css
  src/Components/Navbar/Navbar.js
  src/Components/Navbar/navbar.css
  src/Images/icon-black.png
  src/Images/icon-white.png
  src/Pages/Landing/Landing.js
  src/Pages/Landing/landing.css
  src/Routing.js
  src/index.css
  src/index.js
Labels: Back End, Front End

#17 Set up authentication & protected routes
  backend/api/auth.js
  backend/test/index.js
  backend/test/users.js
  package-lock.json
  package.json
  server.js
  src/APIFunctions/user.js
  src/Components/Auth/LoginModal.js
  src/Components/Auth/RegisterModal.js
  src/Components/Navbar/Navbar.js
  src/Components/Routes/AuthenticatedRoute.js
  src/Components/Routes/UnauthenticatedRoute.js
  src/Pages/Games/Games.js
  src/Pages/Home/Home.js
  src/Pages/Landing/Landing.js
  src/Pages/Profile/Profile.js
  src/Pages/Settings/Settings.js
  src/Routing.js
Labels: Back End, Front End

#18 Finished authentication and MySQL connection
  backend/api/auth.js
  backend/connection.js
  backend/queries/user.js
  backend/test/index.js
  backend/test/users.js
  blits.sql
  package-lock.json
  package.json
  server.js
  src/APIFunctions/user.js
  src/Components/Auth/LoginModal.js
  src/Components/Auth/RegisterModal.js
  src/Images/404.svg
  src/Pages/Error/Errors.js
  src/Pages/Error/error.css
  src/Pages/Landing/Landing.js
  src/Routing.js
Labels: Back End, Database

#22 Add administrative powers (warn, ban, unban)
  backend/queries/user.js
  backend/routes/auth.js
  backend/routes/user.js
  blits.sql
  server.js
  src/APIFunctions/user.js
  src/Components/Auth/LoginModal.js
  src/Components/Auth/RegisterModal.js
  src/Components/Navbar/Navbar.js
  src/Pages/Home/Home.js
  src/Routing.js
Labels: Back End, Database

#25 Finish settings page frontend
  backend/routes/auth.js
  src/APIFunctions/user.js
  src/Components/Settings/DeleteTab.js
  src/Components/Settings/SettingsTab.js
  src/Components/Settings/settings-tab.css
  src/Pages/Settings/Settings.js
  src/Pages/Settings/setting.css
Labels: Front End

#26 Made Admin dashboard
  src/Pages/Admin/Admin.css
  src/Pages/Admin/Admin.js
  src/Routing.js
Labels: Front End

#28 Added games page and css
  src/Pages/Games/Games.css
  src/Pages/Games/Games.js
Labels: Front End

#37 Add logger functionality for errors/requests
  .gitignore
  backend/logger.js
  backend/queries/settings.js
  backend/queries/user.js
  backend/routes/auth.js
Labels: Back End, documentation

#40 Fix css on pages and small additions
  backend/queries/user.js
  backend/routes/user.js
  src/APIFunctions/user.js
  src/Images/gameLogo.png
  src/Images/settingLogo.png
  src/Images/shopLogo.png
  src/Pages/Games/Games.css
  src/Pages/Games/Games.js
  src/Pages/Home/Home.js
  src/Pages/Settings/Settings.js
  src/Pages/Settings/setting.css
  src/Pages/Shop/Shop.js
  src/Pages/Shop/UserShop.js
  src/Pages/Shop/shop.css
Labels: Front End

#42 Add functionality to change user settings
  backend/queries/settings.js
  backend/routes/auth.js
  blits.sql
  src/APIFunctions/user.js
  src/Components/Settings/SettingsTab.js
  src/Components/Settings/settings-tab.css
Labels: Back End, Database

#44 Add functionality to delete a user when they want to
  backend/queries/settings.js
  backend/routes/auth.js
  src/APIFunctions/user.js
  src/Components/Settings/DeleteTab.js
  src/Components/Settings/SettingsTab.js
  src/Pages/Settings/Settings.js
Labels: Back End, Database, enhancement

#46 Redesigned game dashboard frontend
  src/Images/blackjackLogo.jpg
  src/Images/coinLogo.png
  src/Images/slotsLogo.png
  src/Pages/Games/Games.css
  src/Pages/Games/Games.js
  src/Pages/Shop/Shop.js
Labels: Front End

#48 Refactor code to categorize images better
  src/Components/Navbar/Navbar.js
  src/Images/Error/404.svg
  src/Images/Games/blackjackLogo.jpg
  src/Images/Games/coinLogo.png
  src/Images/Games/gameLogo.png
  src/Images/Games/slotsLogo.png
  src/Images/Landing/icon-black.png
  src/Images/Landing/icon-white.png
  src/Images/Settings/settingLogo.png
  src/Images/Shop/shopLogo.png
  src/Pages/Error/Errors.js
  src/Pages/Games/Games.js
  src/Pages/Home/Home.js
  src/Pages/Home/home.css
  src/Pages/Landing/Landing.js
  src/Pages/Settings/Settings.js
  src/Pages/Shop/Shop.js
Labels: enhancement

#51 Implemented admin accounts & admin authentication
  backend/queries/user.js
  backend/routes/auth.js
  backend/routes/user.js
  src/APIFunctions/user.js
  src/Components/Auth/RegisterModal.js
  src/Components/Auth/register.css
  src/Components/Navbar/Navbar.js
  src/Components/Routes/AuthenticatedRoute.js
  src/Pages/Admin/Admin.js
  src/Pages/Admin/AdminComponents.js
  src/Pages/Landing/Landing.js
Labels: Back End, Front End

#55 Finish admin dashboard backend
  backend/queries/user.js
  backend/routes/user.js
  src/APIFunctions/user.js
  src/Pages/Admin/Admin.css
  src/Pages/Admin/Admin.js
  src/Pages/Admin/AdminComponents.js
Labels: Back End, Front End

#62 Modified shop frontend
  src/Pages/Shop/Shop.js
  src/Pages/Shop/shop.css
Labels: enhancement

#61 Refactored Home
  src/Pages/Home/Home.js
  src/Pages/Home/home.css
Labels: enhancement

#65 Finish Shop Backend
  backend/connection.js
  backend/queries/user.js
  backend/routes/user.js
  blits.sql
  package.json
  src/APIFunctions/user.js
  src/Badges/badge_info.txt
  src/Images/Badges/30 Day Login Streak.png
  src/Images/Badges/All Threes.png
  src/Images/Badges/Blackjack Master.png
  src/Images/Badges/Casual Noob.png
  src/Images/Badges/Casual Pro.png
  src/Images/Badges/Get That Coin.png
  src/Images/Badges/God Chains.png
  src/Images/Badges/Make it Rain.png
  src/Images/Badges/Senpai Club.png
  src/Images/Badges/True Winner.png
  src/Pages/Games/Games.js
  src/Pages/Shop/Shop.js
  src/Pages/Shop/UserShop.js
  src/Pages/Shop/shop.css
Labels: Back End, Front End

#72 Slots Frontend
  package.json
  src/Pages/Games/CoinFlip/coinflip.js
  src/Pages/Games/Slots/slots.css
  src/Pages/Games/Slots/slots.js
  src/Pages/Games/Slots/slotsComponents.js
  src/Pages/Games/Slots/slotsWrapper.css
  src/Pages/Games/Slots/slotsWrapper.js
  src/Routing.js
Labels: Front End

#75 Coin flip completed
  src/Pages/Games/CoinFlip/Coinflip.css
  src/Pages/Games/CoinFlip/CoinflipComponents.js
  src/Pages/Games/CoinFlip/coinflip.js
  src/Pages/Games/Slots/slotsWrapper.js
  src/Routing.js
Labels: Front End

#77 Games backend
  backend/queries/user.js
  backend/routes/user.js
  blits.sql
  src/APIFunctions/user.js
  src/Pages/Games/BlackJack/Blackjack.js
  src/Pages/Games/CoinFlip/coinflip.js
  src/Pages/Games/Slots/slots.js
  src/Pages/Games/Slots/slotsWrapper.js
Labels: Back End, Database
